.landing .hero-container {
    position: relative;
    text-align: center;
}

.landing img {
    height: calc(100vh - 3rem);
    width: 100%;
    opacity: 0.5;
}

.landing h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.landing .container-h {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.landing .container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem;
}

.landing .sub {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.landing .btn {
    background-color: var(--0);
    color: var(--3);
    border: none;
    padding: 1rem;
}

.landing h2 {
    color: var(--0);
}

.landing .footer {
    background-color: var(--2);
    padding: 2rem;
}

.landing .footer p {
    color: var(--3);
}

.landing .footer .left-align {
    width: 50%;
    display: inline-block;
    text-align: left; 
}

.landing .footer .right-align {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.landing .footer p a {
    color: var(--3);
    text-decoration: underline;
}
