.request-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--2);
    padding: 0.5rem;
}

.request-card .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.request-card h2 {
    color: var(--2);
    margin-bottom: 0.5rem;
} 

.request-card .property {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.request-card .property-label {
    color: var(--1);
}

.request-card .option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.request-card .alt-btn {
    background-color: var(--1);
}